<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar">
        <span class="sr-only">Toggle sidebar</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a ui-sref="login" class="navbar-brand hidden-xs"><i class="fa fa-home fa-lg"></i> <span class="hidden-xs">papsb</span>
      <span class="badge badge-info">{{ shell.user.authenticated || 'no' }}</span>
    </a>
    </div>

    <ul class="nav navbar-nav hidden-xs">
      <li ui-sref-active="active"><a ui-sref="operation"><i class="fa fa-bus"></i>OPERATION</a></li>
      <li ui-sref-active="active"><a ui-sref="workshop"><i class="fa fa-wrench"></i>WORKSHOP</a></li>
      <li ui-sref-active="active"><a ui-sref="about"><i class="fa fa-info"></i>ABOUT</a></li>
      <li ui-sref-active="active"><a ui-sref="contact"><i class="fa fa-comment"></i>CONTACT</a></li>
    </ul>
    <ul class="nav navbar-nav visible-xs-inline">
      <li ui-sref-active="active"><a ui-sref="operation"><i class="fa fa-bus fa-lg"></i></a></li>
      <li ui-sref-active="active"><a ui-sref="workshop"><i class="fa fa-wrench fa-lg"></i></a></li>
      <li ui-sref-active="active"><a ui-sref="about"><i class="fa fa-info fa-lg"></i></a></li>
      <li ui-sref-active="active"><a ui-sref="contact"><i class="fa fa-comment fa-lg"></i></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-if="shell.user.authenticated === false && shell.ui.state() != 'login'"><a ui-sref="login" ><i class="fa fa-sign-in fa-lg"></i> Login</a></li>
      <li ng-if="shell.user.authenticated === true" class="dropdown">
        <a id="drop-auth" href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img class="img-circle" ng-src="{{ shell.user.avatar }}" style="max-width: 40px" />
          <span class="user-info hidden-xs">
            <small>Welcome,</small>{{ shell.user.username }}
          </span>&nbsp;
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-user fa-lg"></i> Profile</a></li>
          <li><a href="#"><i class="fa fa-lock fa-lg"></i> Show Notification & Configuration</a></li>
          <li class="divider"></li>
          <li><a ng-click="shell.logout()"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- container-fluid -->
</nav>
