<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar&#45;toggle collapsed" data&#45;toggle="collapse" data&#45;target="#topnav"> -->
      <!--   <span class="sr&#45;only">Toggle navigation</span> -->
      <!--   <span class="icon&#45;bar"></span> -->
      <!--   <span class="icon&#45;bar"></span> -->
      <!--   <span class="icon&#45;bar"></span> -->
      <!-- </button> -->
    <a ui-sref="login" class="navbar-brand"><i class="fa fa-home fa-lg"></i> internal
      <!-- <span class="badge badge&#45;info">{{ shell.user.authenticated || 'no' }}</span> -->
    </a>
    </div>

    <ul class="nav navbar-nav hidden-xs">
      <li ui-sref-active="active"><a ui-sref="operation"><i class="fa fa-bus"></i>OPERATION</a></li>
      <li ui-sref-active="active"><a ui-sref="workshop"><i class="fa fa-wrench"></i>WORKSHOP</a></li>
      <li ui-sref-active="active"><a ui-sref="about"><i class="fa fa-info"></i>ABOUT</a></li>
      <li ui-sref-active="active"><a ui-sref="contact"><i class="fa fa-comment"></i>CONTACT</a></li>
    </ul>
    <ul class="nav navbar-nav visible-xs-inline">
      <li ui-sref-active="active"><a ui-sref="operation"><i class="fa fa-bus fa-lg"></i></a></li>
      <li ui-sref-active="active"><a ui-sref="workshop"><i class="fa fa-wrench fa-lg"></i></a></li>
      <li ui-sref-active="active"><a ui-sref="about"><i class="fa fa-info fa-lg"></i></a></li>
      <li ui-sref-active="active"><a ui-sref="contact"><i class="fa fa-comment fa-lg"></i></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-if="shell.user.authenticated == false && shell.ui.state() != 'login'"><a ui-sref="login" ><i class="fa fa-sign-in fa-lg"></i> Login</a></li>
      <li ng-if="shell.user.authenticated == true" class="dropdown">
        <a id="drop-auth" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
          <img class="img-circle" ng-src="{{ shell.user.avatar }}" width="40px" />
          <span class="user-info hidden-xs">
            <small>Welcome,</small>{{ shell.user.username }}
          </span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-user fa-lg"></i> Profile</a></li>
          <li class="divider"></li>
          <li><a ng-click="shell.logout()"><i class="fa fa-sign-out fa-lg"></i> {{ shell.user.username }}</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- container-fluid -->
</nav>
