<!-- dashboard.html -->

<div data-ng-include="'views/workshop.sidebar.html'"></div>
<div id="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div ui-view class="well flip-right">
          <h1>home page</h1>
          <p class="green">
            Ipsum quos lorem quisquam ducimus quod accusantium. Incidunt error veritatis 
            veniam quam dolore aperiam quidem qui repellat fugiat maiores accusantium. 
            Officia debitis facere quos laudantium aut accusantium! Distinctio laboriosam esse.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
