<!-- home.html -->

<div id="sidebar-wrapper">
    <ul class="unstyled sidebar-nav">
      <li><a ui-sref=".message1" class="green">Message 1</a></li>
      <li><a ui-sref=".message2">Message 2</a></li>
      <li><a ui-sref=".message2" class="blue">Message 2</a></li>
      <li><a ui-sref=".message2">Message 2</a></li>
      <li><a ui-sref=".message1" class="green">Message 1</a></li>
      <li><a ui-sref=".message2">Message 2</a></li>
      <li><a ui-sref=".message1" class="green">Message 1</a></li>
      <li><a ui-sref=".message2">Message 2</a></li>
    </ul>
</div>
<div id="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <!-- <div class="jumbotron text&#45;center" ui&#45;view ng&#45;controller="mainController"> -->
        <div ui-view>
          <h1>home page</h1>
          <p class="green">
            Ipsum quos lorem quisquam ducimus quod accusantium. Incidunt error veritatis 
            veniam quam dolore aperiam quidem qui repellat fugiat maiores accusantium. 
            Officia debitis facere quos laudantium aut accusantium! Distinctio laboriosam esse.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
