<!-- public/views/login.html -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 auth-form">

      <h2><i class="fa fa-sign-in"></i> Login</h2>
      <form ng-submit="vm.login()" role="form">
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" ng-model="vm.user.username" placeholder="Enter username" type="text"/>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" ng-model="vm.user.password" placeholder="Enter password" type="password"/>
        </div>
        <div class="checkbox"><label><input type="checkbox">Remember me /></label></div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-xs-6 col-xs-offset-3 auth-info">
        <p>
          Need an account? <a href="#">Singup</a><br/>
          Forget password? <a href="#">Recover</a><br/>
          Reload page? <a href="#" ng-click="vm.reload()">{{ ::vm.error }}</a>
        </p>
    </div>
  </div>
</div>
