<!-- public/views/login.html -->

<!-- <div class="col-xs-6 col-xs-offset-3">

  <h1 class="fa fa-sign-in"> Login</h1>

  <form action="/login" method="post" role="form">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="text"/></div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password"/></div>
    <div class="checkbox"><label><input type="checkbox">Remember me</input></label></div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 -->
<div class="modal" id="papsbLogin">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title fa fa-sign-in"> Signin</h4>
      </div>
      <div class="modal-body">
        <form action="/login" method="post" role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="text"/>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password"/>
          </div>
          <div class="checkbox"><label><input type="checkbox">Remember me</label></div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div><!-- /.modal-body -->
<!--         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
