<nav class="navbar navbar-default">
  <!-- <div class="container"> -->
  <div class="navbar-header">
    <a class="navbar-brand navbar-navicon"><i class="fa fa-apple fa-lg"></i></a>
    <a ui-sref="dashboard" class="navbar-brand">papsb internal</a>
  </div>

  <ul class="nav navbar-nav">
    <li ui-sref-active="active"><a ui-sref="workshop"><i class="fa fa-home"></i>WORKSHOP</a></li>
    <li ui-sref-active="active"><a ui-sref="about"><i class="fa fa-shield"></i>ABOUT</a></li>
    <li ui-sref-active="active"><a ui-sref="contact"><i class="fa fa-comment"></i>CONTACT</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a ng-href="#/auth" app-login="login"><i class="fa fa-sign-in"></i>Sign In</a></li>
  </ul>
  <!-- </div> -->
</nav>
