<div id="sidebar-wrapper" ng-hide="vm.sidebarStatus">
  <ul class="unstyled sidebar-nav">
    <li ui-sref-active="active"><a ui-sref=".message1({ page: 'minum' })">Message 1</a></li>
    <li ui-sref-active="active"><a ui-sref=".message2">Message 2</a></li>
    <li ui-sref-active="active"><a ui-sref=".message1({ page: 'makan' })">Message 1</a></li>
    <li ui-sref-active="active"><a ui-sref=".message2">Message 2</a></li>
    <li ui-sref-active="active"><a ui-sref=".message1" class="green">Message 1</a></li>
    <li ui-sref-active="active"><a ui-sref=".message2">Message 2</a></li>
    <li ui-sref-active="active"><a ui-sref=".message1" class="green">Message 1</a></li>
    <li ui-sref-active="active"><a ui-sref=".message2">Message 2</a></li>
  </ul>
</div>
