/* shades of gray

#2B292A

*/
@require 'variables'

body
  background rgb(254, 254, 254)
  /*background #2B292A*/
  padding-top 70px
  font-family $font-proxima
  font-weight normal

h1, h2, h3, h4, h5, h6
  font-family $font-gotham
  text-transform uppercase

#wrapper
  padding-left 0
  -webkit-transition all 0.5s ease
  transition all 0.5s ease

#wrapper.sidebar-hidden
  padding-left 250px

#content-wrapper
  width 100%
  -webkit-transform translate3d(0, 0, 0) //hacky way to force chrome redraw
