/* shades of gray

#2B292A

*/

body
  background rgb(254, 254, 254)
  /*background #2B292A*/
  padding-top 70px

#wrapper
  padding-left 0
  -webkit-transition all 0.5s ease
  transition all 0.5s ease

#wrapper.sidebar-hidden
  padding-left 250px

#content-wrapper
  width 100%

/* color! */
.blue
  color blue


.green
  color green

