/* sidebar style */

@require 'variables'

.sidebar-nav
  width 250px
  margin 0
  padding 0

.sidebar-nav li
  text-indent 20px
  line-height 40px

.sidebar-nav li a
  display block
  text-decoration none
  color #999

.sidebar-nav li a:hover
  text-decoration none
  color #fff
  background rgba(255, 255, 255, 0.2)

.sidebar-nav li a:active,
.sidebar-nav li a:focus
  text-decoration none
  background rgba(235, 235, 235, 0.2)

#sidebar-wrapper
  z-index 1000
  position fixed
  left 250px
  width 0
  height 90%
  margin-left -250px
  overflow-y auto
  background $midnightblue
  -webkit-transition all 0.5s ease
  transition all 0.5s ease
  -webkit-transform translate3d(0, 0, 0) //hacky way to force redraw

#wrapper.sidebar-hidden #sidebar-wrapper
  width 250px
  /* visibility hidden */

#wrapper.sidebar-hidden #content-wrapper
  position absolute
  margin-right -250px

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.sidebar-hidden {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.sidebar-hidden #sidebar-wrapper {
    width: 0;
  }
  #content-wrapper {
    padding: 20px;
  }
  #wrapper.sidebar-hidden #content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
