/* sidebar style */

@require 'variables'

.sidebar-nav
  margin-right -21px
  margin-bottom 20px
  margin-left -20px

//.sidebar-nav li
//  text-indent 20px
//  line-height 40px

.sidebar-nav > li > a
  padding-right 20px
  padding-left 20px
  //display block
  //text-decoration none
  color #ddd

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus
  text-decoration none
  background rgba(235, 235, 235, 0.2)

.sidebar-nav li a:hover
  background rgba(255, 255, 255, 0.2)

.sidebar-wrapper
  display none

@media(min-width:768px)
  .sidebar-wrapper
    position fixed
    display block
    top 70px
    bottom 0
    left 0
    z-index 1000
    //padding 20px
    //height 90%
    overflow-x hidden
    overflow-y auto
    background $midnightblue
    border-right 1px solid #eee
    //-webkit-transition all 0.5s ease
    //transition all 0.5s ease
    //-webkit-transform translate3d(0, 0, 0) //hacky way to force redraw


