.navbar-default
  -webkit-box-shadow 0 1px 1px rgba(0,0,0,.1)
  box-shadow 0 1px 1px rgba(0,0,0,.1)
  background rgba(255,234,42,.95)
  color:
  /*position fixed*/
  z-index 150
  height 70px
  margin-bottom 0

.navbar-default .navbar-header > a {
  color: #333;
  font-weight: bold;
}

.navbar-default .navbar-navicon {
  padding-right: 0;
}

.navbar-default .navbar-nav li > a {
  color: #333;
}

.navbar-default .navbar-nav li > a:hover {
  color: #000;
}

.navbar-default .navbar-nav li.active > a,
.navbar-default .navbar-nav li.active > a:hover,
.navbar-default .navbar-nav li.active > a:focus {
  color: #333;
}

.navbar-default .navbar-nav li.active > a:hover {
  color: #333;
}

.navbar-default ul.navbar-right:last-child {
  margin-right: 0;
}

