/*
 * Stylus variables
 */

@require 'fonts'

/* colors */
$topnavcolor = rgb(123, 128, 135)
$topnavhovercolor = #0f97f9
$topnavbgcolor = rgba(255,255,255, .85)
$topnavbghovercolor = rgba(242, 243, 247, .50)
/*$topnavbghovercolor = rgba(123, 128, 135, 0.1)*/

/* fonts */
$font-proxima = "Proxima Nova", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif
$font-neuelight = "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif
$font-gotham = "Gotham", Calibri, Helvetica, Arial, sans-serif
