
<h1 class="page-header">Workshop Overview</h1>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Repair Type
          <a href="#" class="btn btn-xs btn-default pull-right" data-toggle="collapse" data-target="#doug"></a>
          <span class="btn btn-xs btn-default" ng-click="vm.random()">random</span></h3>
      </div>
      <div id="doug" class="panel-body collapse in">
        <canvas id="doughnut" class="chart chart-doughnut" data="vm.doug.data" labels="vm.doug.labels"
          legend="true"></canvas>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Weekly Workshop Load
          <a href="#" class="btn btn-xs btn-default pull-right" data-toggle="collapse" data-target="#chart"></a>
        </h3>
      </div>
      <div id="chart" class="panel-body collapse in">
        <canvas id="line" class="chart chart-line" data="vm.line.data"
          labels="vm.line.labels" legend="true" series="vm.line.series"
          click="vm.line.onClick">
        </canvas>
      </div>
    </div>
  </div>
</div>

<h2 class="sub-header">Customer List</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Telephone</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in vm.users">
        <td>{{ 'S00' + ($index + 1) }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email | lowercase }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.address.city }}</td>
      </tr>
    </tbody>
  </table>
</div> <!-- end table responsive -->
