/*
 * Load all my fonts here...
 * 100 = thin, 200 = extra light, 300 = light, 400 = normal
 * 500 = medium, 600 = demi-bold, 700 = bold, 800 = heavy, 900 = black
 */

// may need manually rewrite this to import only used fonts
@require '../fonts/proxima-nova/proxima-nova.css'

@font-face
  font-family 'Gotham'
  src: url('../fonts/gotham/Gotham-Light.woff') format('woff'),
       url('../fonts/gotham/Gotham-Light.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'Gotham'
  src: url('../fonts/gotham/Gotham-Book.woff') format('woff'),
       url('../fonts/gotham/Gotham-Book.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Gotham'
  src: url('../fonts/gotham/Gotham-Medium.woff') format('woff'),
       url('../fonts/gotham/Gotham-Medium.ttf') format('truetype')
  font-weight 500
  font-style normal

@font-face
  font-family 'Gotham'
  src: url('../fonts/gotham/Gotham-Bold.woff') format('woff'),
       url('../fonts/gotham/Gotham-Bold.ttf') format('truetype')
  font-weight 700
  font-style normal
